body{
    background-color: darkcyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: double deepskyblue 10px;
}
#title{
    text-align: center;
    border:double 20px aqua;
    background-color: cornflowerblue;
    font-size: 50px;
    margin-left: 500px;
    margin-right: 500px;
}
h2{
    border: double 20px aqua;
    background-color:cornflowerblue;
    font-size: 45px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    
}
#story{
    background-color: darkseagreen;
    border: darkviolet dashed;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    text-align: center;
}
#previous_page{
    display: flex;
    align-items: center;
    justify-content: center;
}
#next_page{
    display: flex;
    align-items: center;
    justify-content: center;
}
#image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#gallery{
    border: 5px ridge darkviolet;
}