body{
    background-color: darkcyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: double deepskyblue 5px;
}
#title{
    text-align: center;
    border:double 20px aqua;
    background-color: cornflowerblue;
    font-size: 50px;
    margin-left: 500px;
    margin-right: 500px;
}
h2{
    border: double 20px aqua;
    background-color:cornflowerblue;
    font-size: 45px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    
}
}
#previous_page{
    display: flex;
    align-items: center;
    justify-content: center;
}
#video{
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    border: double 10px darkviolet;
}
h3{
    border: double 10px aqua;
    background-color:cornflowerblue; 
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}
#read{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}